name: Tests

on:
  push:
    branches: [ master ]

jobs:
  test_ubuntu:
    name: test-on-ubuntu

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: setup criterion
        run: |
          wget https://github.com/Snaipe/Criterion/releases/download/v2.3.3/criterion-v2.3.3-linux-x86_64.tar.bz2
          tar -xf criterion-v2.3.3-linux-x86_64.tar.bz2
          cd criterion-v2.3.3
          sudo mv include/* /usr/include/
          sudo mv lib/* /usr/lib/
          sudo mv share/pkgconfig/* /usr/share/pkgconfig/
          cd ..
          sudo apt-get update
      - name: test on ubuntu-latest
        run: make test
